# .gitignore for Grails 1.2

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*

# default HSQL database files for production mode
/prodDb.*

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# temporary? build files
/target
